@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.pw-heading-font{
  font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
.pw-heading-font-light {
  font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}
.pw-heading-font-regular {
  font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}